/.web-server-pid
/app/config/parameters.yml
/build/
/phpunit.xml
/var/*
!/var/cache
/var/cache/*
!var/cache/.gitkeep
!/var/logs
/var/logs/*
!var/logs/.gitkeep
!/var/sessions
/var/sessions/*
!var/sessions/.gitkeep
!var/SymfonyRequirements.php
/vendor/
/web/assets/vendor/
/.idea
/_windows
/colors.scheme.xml
/databaseSettings.xml
/debugger.xml
/editor.xml
/filetypes.xml
/ide.general.xml
/ui.inf.xml