{% extends '@Layout/Page/Full/base.html.twig' %}

{% block body %}
    <div class="box box-info">
        <div class="box-header">

        </div>

        <div class="box-body">

        </div>

        <div class="box-footer">

        </div>
    </div>
{% endblock %}