{% extends '@Layout/Page/Full/base.html.twig' %}

{% block sub_title %}Tests{% endblock sub_title %}

{% block content %}
    <div class="content">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="text-center p-5 big-title">Our awesome tests</h1>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-md-12 mb-5">
                    <form class="custom-form-big">
                        <input class="form-control" placeholder="Search ..." name="search">
                    </form>
                </div>
            </div>
            <div class="row">
                {% for quiz in quizzes %}
                <div class="col-lg-6 text-center tests-item">
                    <div class="tests-image">
                        <img class="img-fluid" src="{{ vich_uploader_asset(quiz, 'image') }}">
                    </div>
                    <span>{{ quiz.title }}</span>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock content %}