{% extends '@Layout/Page/Full/base.html.twig' %}
{% import '@Layout/Component/Category/category_box.html.twig' as category_box %}
{% import '@Layout/Component/Breadcrumb/breadcrumb.html.twig' as breadcrumb %}

{% block header %}
    <h1>
        New quizzes
        <small>Every quizzes you didn't answered yet</small>
    </h1>
    {{ breadcrumb.full(
        [
        'Quiz',
        'New'
        ],
        [
        '#',
        path('app_quiz_list_new'),
        ],
        'fa fa-list-ol'
    ) }}
{% endblock %}

{% block body %}
    {% for category in categories %}
        {{ category_box.short(category) }}
    {% endfor %}
{% endblock %}