{% extends '@Layout/Page/Full/base.html.twig' %}
{% import '@Layout/Component/Category/category_box.html.twig' as category_box %}

{% block header %}
    <h1>
        New quizzes
        <small>Every quizzes you didn't answered yet</small>
    </h1>
    {% embed '@Layout/Component/Breadcrumb/breadcrumb_full.html.twig' %}

        {% set contents = [
        'Quiz',
        'New'
        ] %}

        {% set links =
        [
        '#',
        path('app_quiz_list_new'),
        ] %}

        {% set icon = 'fa fa-list-ol' %}
    {% endembed %}
{% endblock %}

{% block body %}
    {% for category in categories %}
        {{ category_box.short(category) }}
    {% endfor %}
{% endblock %}