{% extends '@Layout/Page/Admin/base.html.twig' %}

{% block body %}
    {% for quiz in quizzes %}
        <a href="{{ path('app_question_listing_user', {'id': quiz.itemContribution.id}) }}">{{ quiz.itemContribution.title }}</a>
    {% endfor %}
{% endblock body %}