{% set contentsWithLinks = [] %}
{% for key, content in contents %}
    {% set line %}
        <a href="{% if links[key] is defined %}{{ links[key] }}{% else %}#{% endif %}">{{ content }}</a>
    {% endset %}
    {% set contentsWithLinks = contentsWithLinks|merge([line]) %}
{% endfor %}
{% set contents = contentsWithLinks %}

{% embed '@Layout/Component/Breadcrumb/breadcrumb_short.html.twig' %}{% endembed %}