<!DOCTYPE html>
<html>
{% block html_head %}
    <head>
        {% block head %}
            <title>{% block title %}{{ 'tab_title'|trans({}, 'label') }} - {% block sub_title %}{% endblock sub_title %}{% endblock title %}</title>

            <meta charset="utf-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <meta name="description" content="">
            <meta name="author" content="">

            {% include '@Layout/Page/Admin/stylesheets.html.twig' %}

            {% block stylesheets %}{% endblock stylesheets %}

        {% endblock head %}
    </head>
{% endblock html_head %}
{% block html_body %}
    <body>
    <div id="wrapper">
        {% include '@Layout/Page/Admin/sidebar.html.twig' %}
        <div id="page-wrapper" style="min-height: 707px;">
            {% block body %}{% endblock body %}
        </div>
    </div>
    {% include '@Layout/Page/Admin/javascripts.html.twig' %}
    {% block javascripts %}{% endblock javascripts %}
    </body>
{% endblock html_body %}
</html>