{% extends '@Layout/Page/Full/base.html.twig' %}

{% block body %}
    {% embed '@Layout/Component/Box/box.html.twig' %}
        {% block header %}
            <h3>Thanks {{ user.username }} for enabling your account</h3>
        {% endblock %}
        {% block body %}
            You can now <a href="{{ path('app_user_authentication_login_login') }}">Login in</a> :)
        {% endblock %}
    {% endembed %}
{% endblock %}