{% extends '@Layout/Page/Admin/base.html.twig' %}

{% block body %}
        {% for course in courses %}
            <a href="{{ path('app_chapter_creation_create', {'id': course.id}) }}">{{ course.title }}</a>
        {% endfor %}
{% endblock body %}