{% extends '@Layout/Page/Admin/base.html.twig' %}

{% block sub_title %}{{ 'tab_sub_title.chapters'|trans({}, 'label') }}{% endblock sub_title %}

{% block body %}
        {% for grade in grades %}
            <a href="{{ path('app_chapter_creation_choose_course', {'id': grade.id}) }}">{{ grade.name }}</a>
        {% endfor %}
{% endblock body %}