{% extends '@Layout/Page/Full/base.html.twig' %}

{% block sub_title %}{{ chapter.title }}{% endblock sub_title %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-12 p-5">
                <h1 class="text-center">{{ chapter.course.title }}</h1>
                <h5 class="text-center">{{ chapter.title }}</h5>
            </div>
        </div>
        <div class="course-view">
            {{ chapter.text }}
        </div>
    </div>
{% endblock content %}