<footer class="text-center">
    <span>{{ 'footer.text'|trans({'%path%' : path('app_contributor_listing_list') }, 'messages')|raw }} <br>{{ 'footer.copyright'|trans({}, 'messages') }}</span>
</footer>