{% extends '@Layout/Page/Full/base.html.twig' %}

{% block sub_title %}Home{% endblock sub_title %}

{% block content %}
    <div class="home-content">
        <div class="container">
            <div class="row">
                <div class="col-md-12 pt-5">
                    <h1 class="text-center big-title">Learn is <span style="color: brown;">power</span></h1>
                    <h3 class="text-center">Be powerfull with Doctrina</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <p class="text-justify p-5">
                        Doctrina est une plateforme de partage de connaissance utilisable par tous les étudiants de Supinfo afin de pouvoir aider chacun à apprendre plus facilement.
                        Cette plateforme est par essence 100% collaborative en effet chaque personne peut contribuer pour apporter sa pierre à l’édifice : création de tests, d’exercices,
                        ou de résumés de cours.
                        A chaque fois qu’une personne contribue, son travail s’ajoute à Doctrina (après vérification du contenu par un membre de l’équipe de validation),
                        cela permet donc à Doctrina d’être une plateforme autonome qui réunie tout ce dont ils ont besoin pour leurs révisions.
                        Une contribution peut aussi être lié à la matière KWS, en effet une contribution est un partage de connaissance à part entière !
                    </p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}