<div class="box {% block class %}{% endblock %}">
    {% block head %}{% endblock %}

    <div class="box-header">
        {% block header %}{% endblock %}
    </div>

    <div class="box-body">
        {% block body %}{% endblock %}
    </div>


    <div class="box-footer">
        {% block footer %}{% endblock %}
    </div>

    {% block foot %}{% endblock %}
</div>
