{% extends '@Layout/Page/Full/base.html.twig' %}

{% block body %}
    {% embed '@Layout/Component/Box/box_primary.html.twig' %}

        {% block header %}
            <h3>{{ group.name }}</h3>
            <p>{{ group.description }}</p>
        {% endblock %}

        {% block body %}
            {% for user in group.users %}
                    {{ user.username }}
            {% endfor %}
        {% endblock %}

    {% endembed %}
{% endblock %}