{% extends '@Layout/Full/base.html.twig' %}

{% block body %}
    <div class="box box-info">
        <div class="box-header">
            <h3>{{ group.name }}</h3>
            <p>{{ group.description }}</p>
        </div>

        <div class="box-body">
            {% for user in group.users %}
                {{ user }}
            {% endfor %}
        </div>

        <div class="box-footer">
        </div>
    </div>
{% endblock %}